h1 {
  font-family: fantasy;
  color: white;
  background-color: black;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  color: black;
  text-align: center;
  display: inline;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 200%;
}